@page
@model WebApplication1.Pages.Account.AccessDeniedModel
@{
}
<div class="container border">
    <div class="form-group row" style="margin-top: 1rem;">
        <div class="col-12">
            <label class="text-danger">You do not have access to that page!</label>
        </div>
    </div>
</div>