@page
@model WebApplication1.Pages.Account.logoutModel
@{
}

<div class="container border">
    <div class="form-group row" style="margin-top: 1rem;">
        <div class="col-2">
            <label>You have been logged out!</label>
        </div>
    </div>
</div>