@page
@model WebApplication1.Pages.HRIndexModel
@{
}

<div class="text-center">
    <h1 class="display-7">Welcome to the Human Resources Index page</h1>
    <p>Please select a function from the list below:</p>
</div>
